@font-face {
    font-family: 'sdb';
    src: url('../fonts/SDB-Light.ttf');
    /* src: url('fonts/sdb_light.eot?#iefix') format('embedded-opentype'), url('fonts/sdb_light.woff2') format('woff2'), url('fonts/sdb_light.woff') format('woff'); */
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'sdb';
    src: url('../fonts/SDB-Regular.ttf');
    /* src: url('fonts/sdb_medium.eot?#iefix') format('embedded-opentype'), url('fonts/sdb_medium.woff2') format('woff2'), url('fonts/sdb_medium.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sdb';
    src: url('../fonts/SDB-Bold.ttf');
    /* src: url('fonts/sdb_medium.eot?#iefix') format('embedded-opentype'), url('fonts/sdb_medium.woff2') format('woff2'), url('fonts/sdb_medium.woff') format('woff'); */
    font-weight: bold;
    font-style: normal;
}