/* You can add global styles to this file, and also import other style files */

@import "assets/css/sdb_font.css";

/* Importing Bootstrap SCSS file. */

@import 'bootstrap/scss/bootstrap';
.btn-sm {
    height: 100%;
    border-radius: 0;
}

.ngb-dp-weekday {
    font-family: 'sdb', sans-serif !important;
    color: #12a8c0 !important;
    font-size: 12px;
    font-style: normal !important;
}

.ngb-dp-day .bg-primary {
    background-color: #1a4263 !important;
    font-family: 'sdb', sans-serif !important;
}

.ngb-dp-day div,
ngb-datepicker-navigation-select>.form-select {
    font-family: 'sdb', sans-serif !important;
}

.btn-link.ngb-dp-arrow-btn {
    color: #1a4263 !important;
    font-family: 'sdb', sans-serif !important;
}

.ngb-dp-week .ngb-dp-weekday {
    width: 2.5rem!important;
}

.ngb-dp-day,
.ngb-dp-weekday,
.ngb-dp-week-number {
    width: 2.6em !important;
    // height: 2rem;
}

ngb-datepicker-navigation-select>.form-select {
    min-width: 100px;
    margin: 0 2px !important;
}

ngb-datepicker .btn-primary {
    background-color: #1a4263 !important;
    border: none !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}